<%= fields_for @subscription do |f| %>
  <div id="pay_method">
    <h2><%=t(".heading")%></h2>

    <% if @subscription.join_form.description.present? %>
      <div class="form-group">
        <!-- <%= f.label :description, t('helpers.label.subscription.description') %><br> -->
        <p class="detail">
          <%= @subscription.join_form.description.html_safe %>
        </p>
      </div>
    <% end %>

    <%= render 'errors' if @subscription.step == :pay_method %>

    <% if @subscription.establishment_fee > 0 %>
      <div class="detail">
        <div class="row">
          <div class="col-xs-6"><%=t(".application_fee")%></div>
          <div class="col-xs-6"><%=number_to_currency(@subscription.establishment_fee, locale: locale) %> </div>
        </div>
        <% if @subscription.discount > 0 %>
          <div class="row">
            <div class="col-xs-6"><%=t(".member_discount")%></div>
            <div class="col-xs-6"><%=number_to_currency(@subscription.discount, locale: locale) %> </div>
          </div>
          <div class="row">
            <div class="col-xs-6"><strong><%=t(".total")%></strong></div>
            <div class="col-xs-6"><strong><u><%=number_to_currency(@subscription.total, locale: locale) %></u></strong> </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <br/>

    <div id="pay-method-container">
      <%= render 'subscriptions/pay_method/edit_pay_method' %>
    </div>

    <div id="frequency-container">
      <%= render 'subscriptions/pay_method/edit_frequency' %>
    </div>

    <div id="deduction-date-container">
      <%= render 'subscriptions/pay_method/edit_deduction_date' %>
    </div>

    <%= f.hidden_field :plan, value: @subscription.join_form.base_rate_id %>

    <%= case @presenter.pay_method_default
      when "AB"
        render 'subscriptions/pay_method/edit_au_bank_account', f: f
      when "CC"
        render 'subscriptions/pay_method/edit_credit_card', f: f
      when "ABR"
        render 'subscriptions/pay_method/edit_direct_debit_release', f: f
      when "PRD"
        render 'subscriptions/pay_method/edit_payroll_deduction', f: f
      when "-"
        render 'subscriptions/pay_method/edit_existing', f: f
      end
    %>

    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    payMethod.init("<%= refresh_subscription_path %>");
  })

</script>
