<div id="edit_au_bank_account" style="<%= "display:none" unless pay_method_default(@subscription) == "AB" %>">

	<!--
	<div class="form-group">
	  <%= f.label :account_name %><br/>
	  <%= f.text_field :account_name, class: "form-control" %>
	</div>
	-->

	<div class="form-group">
	  <%= f.label :bsb, "BSB" %><br/>
	  <%= f.text_field :bsb, class: "form-control" %>
	</div>

	<div class="form-group">
	  <%= f.label :account_number %><br/>
	  <%= f.text_field :account_number, class: "form-control" %>
	</div>


	<strong> 
		<%=t('subscriptions.pay_method.edit.direct_debit_charge', first_payment: number_to_currency(@subscription.first_payment, locale: locale)).html_safe %>
  </strong>

	<%= render 'subscriptions/pay_method/reoccurring_terms' %>
</div>
