<div id="edit_existing" style="<%= "display:none" unless  pay_method_default(@subscription) == "-" %>">

	<% if @subscription.pay_method == "CC" %>

		<div class="form-group">
	    <%= f.label :partial_card_number %><br/>
	    <span class="form-control readonly"><%=@subscription.partial_card_number%></span>
	  </div>

	  <div class="form-group">
	    <%= f.label :expiry %><br/>
	    <div class="row">
	      <div class="col-xs-4">
	        <span class="form-control readonly"><%=@subscription.expiry_month%></span>
	      </div>
	      <div class="col-xs-4">
	        <span class="form-control readonly"><%=@subscription.expiry_year%></span>
	      </div>
	    </div>
	  </div>

	<% elsif @subscription.pay_method == "AB" %>

		<div class="form-group">
		  <%= f.label :partial_bsb %><br/>
		  <span class="form-control readonly"><%=@subscription.partial_bsb%></span>
	  </div>

		<div class="form-group">
		  <%= f.label :partial_account_number %><br/>
		  <span class="form-control readonly"><%=@subscription.partial_account_number%></span>
	  </div>

	<% end %>

	<%= render 'subscriptions/pay_method/reoccurring_terms' %>

</div>
