<p>
	<small>This passphrase is required for encrypting bank details until they can be transferred and deleted.  For security reasons, the passphrase will not be stored on this system and will be required again to access this sensitive information.  Please keep it safe.
	</small>
</p>

<%= form_for @union, url: union_key_path(@union) do |f| %>
	<% if @union.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@union.errors.count, "error") %> prohibited your encryption key from being updated.</h2>

      <ul>
      <% @union.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  
  <% if @union.key_pair.present? %>
    <div class="form-group">
      <%= f.label :old_passphrase %><br>
      <%= f.password_field :old_passphrase, class: "form-control" %>
    </div>  
  <% end %>

	<div class="form-group">
    <%= f.label :passphrase %><br><small>At least 40 characters</small>
    <%= f.password_field :passphrase, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :passphrase_confirmation %><br>
    <%= f.password_field :passphrase_confirmation, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-default"%> 
<% end %>