<div id="edit_credit_card"  style="<%= "display:none" unless pay_method_default(@subscription)== "CC" %>">
  <!--
  <div class="form-group">
    <%= f.label :account_name, "Name On Card" %><br/>
    <%= f.text_field :account_name, class: "form-control" %>
  </div>
  -->

  <div class="form-group">
    <%= f.label :card_number %><br/>
    <%= f.text_field :card_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :expiry %><br/>
    <div class="row">
      <div class="col-xs-4">
        <%= f.select :expiry_month, 1..12, {}, class: "form-control" %>
      </div>
      <div class="col-xs-4">
        <%= f.select :expiry_year, Date.today.year..(Date.today.year+15), {}, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ccv %><br/>
    <%= f.text_field :ccv, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.hidden_field :stripe_token %>
  </div>

  <strong> 
    Amount Payable Now: <%= number_to_currency(@subscription.first_payment, locale: locale) %>
  </strong>

  <div>
    <small>
      <!-- TODO get translation -->
      <!-- TODO Refactor to share with credit card --> 
      By submitting this form, I authorize the <%=@join_form.union.name %> to deduct from my account <%= @subscription.total > 0 ? "an advanced payment of #{number_to_currency(@subscription.total, locale: locale)} in dues then " : "" %> <%= @subscription.reoccurring_fee > 0 ? "a reoccurring fee of #{number_to_currency(@subscription.reoccurring_fee, locale: locale)}" : "a reoccurring fee" %> which is subject to occasional variation.
    </small>
  </div>
</div>