<div id="pay_method" class="<%=start_hidden(:pay_method) %>">

  <h2><%=t(".heading")%></h2>

  <%= render 'errors' if @subscription.step == :pay_method %>
    
  <div class="detail">
    <div class="row">
      <div class="col-xs-6"><%=t(".application_fee")%></div> 
      <div class="col-xs-6"><%=number_to_currency(@subscription.establishment_fee, locale: locale) %> </div>
    </div>
    <% if @subscription.discount > 0 %>
      <div class="row">
        <div class="col-xs-6"><%=t(".member_discount")%></div> 
        <div class="col-xs-6"><%=number_to_currency(@subscription.discount, locale: locale) %> </div>
      </div>
      <div class="row">
        <div class="col-xs-6"><strong><%=t(".total")%></strong></div> 
        <div class="col-xs-6"><strong><u><%=number_to_currency(@subscription.total, locale: locale) %></u></strong> </div>
      </div>
    <% end %>
  </div>
  <br/>
  <div class="form-group">
    <%= f.label :pay_method %><br>
    <%= f.select :pay_method,
      pay_method_options(@subscription),
      {
          include_blank: false,
      },
      data: {
        placeholder: t('activerecord.attributes.subscription.pay_method'),
      },
      class: "form-control",
      style: "width: 100%;",
      onchange: "pay_method_change(this)"
    %>
  </div>

  <%= render 'subscriptions/pay_method/edit_credit_card', f: f %>

  <%= render 'subscriptions/pay_method/edit_au_bank_account', f: f %>

  <small>
    <!-- TODO get translation -->
    By submitting this form, I authorize the <%=@join_form.union.name %> to deduct from my account <%= @subscription.total > 0 ? "an advanced payment of #{number_to_currency(@subscription.total, locale: locale)} in dues then " : "" %> <%= @subscription.reoccurring_fee > 0 ? "a reoccurring fee of #{number_to_currency(@subscription.reoccurring_fee, locale: locale)}" : "a reoccurring fee" %> which is subject to occasional variation.
  </small>

  <% if @subscription.join_form.signature_required %>
    <%= hidden_field_tag "signature_vector", @subscription.signature_vector %>
    <div class="sigPad" style="width:300px; margin-top: 16px; margin-bottom: 16px;">
      <ul class="sigNav">
        <li class="drawIt"><a href="#draw-it" >Sign Here</a></li>
        <li class="clearButton"><a href="#clear">Clear</a></li>
      </ul>
      <div class="sig sigWrapper" style="width:300px; height: 100px;">
        <div class="typed"></div>
        <canvas class="pad" width="298px" height="98px"></canvas>
        <input type="hidden" name="subscription[signature_vector]" class="output">
      </div>
    </div>
  <% end %>

  
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>


</div>
