<div id="edit_abr">

	<!--
	<div class="form-group">
	  <%= f.label :account_name %><br/>
	  <%= f.text_field :account_name, class: "form-control" %>
	</div>
	-->

	<div class="form-group">
	  <%= f.label :bsb, "BSB" %><br/>
	  <%= f.text_field :bsb, class: "form-control" %>
	</div>

	<div class="form-group">
	  <%= f.label :account_number %><br/>
	  <%= f.text_field :account_number, class: "form-control" %>
	</div>


	<strong> 
    Initial Payment: <%= number_to_currency(@subscription.first_payment, locale: locale) %>
    <br/><small> Deductions will usually commence within 3 business days.  </small>
  </strong>

</div>
