  <h2><%=t(".heading")%></h2>
  <div class="form-group">
    <%= f.label :address1 %><br>
    <%= f.text_field :address1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :suburb %><br>
    <%= f.text_field :suburb, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %><br>
    <%= f.text_field :state, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :postcode %><br>
    <%= f.text_field :postcode, class: "form-control" %>
  </div>
