<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @record.type %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @record.subject %>
</p>

<p>
  <strong>Body plain:</strong>
  <%= @record.body_plain %>
</p>

<p>
  <strong>Body html:</strong>
  <%= @record.body_html %>
</p>

<p>
  <strong>Delivery status:</strong>
  <%= @record.delivery_status %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @record.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @record.recipient_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @record.recipient %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @record.sender %>
</p>

<p>
  <strong>Template:</strong>
  <%= @record.template_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @record.parent_id %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
