<%= render partial: "facebook" %>

<% if current_person %>
  <%= link_to 'Edit Form', edit_union_join_form_path(@join_form.union, @join_form), style: "margin-top: 15px" , class: "btn btn-default pull-right" %>
<% end %>

<% set_title(@join_form.page_title) %>
<div id="step" data-step="<%=@subscription.step%>"></div>
<%= render partial: "shared/lang_picker", locals: { display_class: "pull-right" } %>

<div class="clearfix"></div>
<% if @join_form.advanced_designer %>
  <style>
    <%=@join_form.css.html_safe %>
  </style>
  <div class="subscription_header clearfix">
    <%=@join_form.header.html_safe if @join_form.header.present? %>
  </div>
<% else %>
  <div class="subscription_header clearfix">
    <%=@join_form.wysiwyg_header.html_safe if @join_form.wysiwyg_header.present? %>
  </div>
<% end %>

<%= form_for(subscription, url: subscription_form_path(subscription)) do |f| %>

  <%= f.fields_for :person do |p| %>
    <%= render 'subscriptions/person/edit', f: p, person: @subscription.person  %>
  <% end %>

  <% if (@subscription.contact_details_saved? || @subscription.address_present?) && @subscription.address_required? %>
    <%= f.fields_for :person do |p| %>
      <%= render 'subscriptions/address/edit', f: p, person: @subscription.person  %>
    <% end %>
  <% end %>

  <% if @subscription.address_saved? || !@subscription.address_required? %>
    <%= render 'subscriptions/miscellaneous/edit', f: f %>
  <% end %>

  <% if @subscription.miscellaneous_saved? %>
    <%= render 'subscriptions/pay_method/edit', f: f %>
  <% end %>

  <%= f.hidden_field :join_form_id %>
  <%= f.hidden_field :callback_url %>
  <%= f.hidden_field :source %>

  <div class="actions ">
    <%
      if @subscription.miscellaneous_saved?
        if @subscription.has_existing_pay_method?
          submit_label = t(".submit_renew") # TODO this logic is dumb
        else
          submit_label = t(".submit_join")
        end
      else
        submit_label = t(".submit_next")
      end
    %>

    <%= f.submit submit_label, class: "btn btn-success", id: "subscription_submit", data: { label: t(".submit_processing")} %>
  </div>
<% end %>

<div class="clearfix"></div>
<div class="subscription_footer clearfix">
<% if @join_form.advanced_designer %>
    <%=@join_form.footer.html_safe if @join_form.footer.present? %>
<% else %>
    <%=@join_form.wysiwyg_footer.html_safe if @join_form.wysiwyg_footer.present? %>
<% end %>
</div>
