<%= render partial: "facebook" %>

<% if current_person %>
  <%= link_to 'Edit Form', edit_union_join_form_path(@join_form.union, @join_form), style: "margin-top: 15px" , class: "btn btn-default pull-right" %>
<% end %>

<% set_title(@join_form.page_title) %>
<div id="step" data-step="<%=@subscription.step%>"></div>
<%= render partial: "shared/lang_picker", locals: { display_class: "pull-right" } %>

<div class="clearfix"></div>
<% if @join_form.advanced_designer %>
  <style>
    <%=@join_form.css.html_safe %>
  </style>
  <div class="subscription_header clearfix">
    <%=@join_form.header.html_safe if @join_form.header.present? %>
  </div>
<% else %>
  <div class="subscription_header clearfix">
    <%=@join_form.wysiwyg_header.html_safe if @join_form.wysiwyg_header.present? %>
  </div>
<% end %>

<%= form_for(subscription, url: subscription_form_path(subscription), html: { id: "subscription-form" }) do |f| %>

  <%= f.fields_for :person do |p| %>
    <%= render 'subscriptions/person/edit', f: p, person: @subscription.person  %>
  <% end %>

  <% if (@subscription.contact_details_saved? || @subscription.address_present?) && @subscription.address_required? %>
    <%= f.fields_for :person do |p| %>
      <%= render 'subscriptions/address/edit', f: p, person: @subscription.person  %>
    <% end %>
  <% end %>

  <% if @subscription.address_saved? || !@subscription.address_required? %>
    <%= render 'subscriptions/miscellaneous/edit', f: f %>
  <% end %>

  <% if @subscription.miscellaneous_saved? %>
    <div id="pay-method-fields">
      <%= render 'subscriptions/pay_method/edit' %>
    </div>

    <% if @subscription.join_form.signature_required %>
      <%= hidden_field_tag "signature_vector", @subscription.signature_vector %>
      <div class="sigPad" style="width:300px; margin-top: 16px; margin-bottom: 16px;">
        <ul class="sigNav">
          <li class="drawIt"><a href="#draw-it" ><%=t("subscriptions.pay_method.edit.sign_here")%></a></li>
          <li class="clearButton"><a href="#clear"><%=t("subscriptions.pay_method.edit.clear_signature")%></a></li>
        </ul>
        <div class="sig sigWrapper" style="width:300px; height: 100px;">
          <div class="typed"></div>
          <canvas class="pad" width="298px" height="98px"></canvas>
          <input type="hidden" name="subscription[signature_vector]" class="output">
        </div>
      </div>

      <div class="" style="width: 300px; border-bottom: solid 1px black; padding: 10px;">
        <strong><%= @presenter.friendly_signature_date %></strong>
      </div>
      <br/>
    <% end %>
  <% end %>

  <%= f.hidden_field :join_form_id %>
  <%= f.hidden_field :callback_url %>
  <%= f.hidden_field :source %>

  <div class="actions ">

    <%= f.submit @presenter.submit_label, class: "btn btn-success", id: "subscription_submit", data: { label: t(".submit_processing")} %>
  </div>
<% end %>

<div class="clearfix"></div>
<div class="subscription_footer clearfix">
<% if @join_form.advanced_designer %>
    <%=@join_form.footer.html_safe if @join_form.footer.present? %>
<% else %>
    <%=@join_form.wysiwyg_footer.html_safe if @join_form.wysiwyg_footer.present? %>
<% end %>
</div>
