<% if notice.present? %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <h1>Subscriptions</h1>

    <div class="panel panel-default">
      <div class="panel-body">

        <div id="error_explanation">
          <ul>
          <% @subscription_search.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>

        <%= form_for(@subscription_search, url: subscriptions_path, method: :get) do |f| %>
          <div class="form-group">
            <%= f.label :keywords %><br/>
            <%= f.text_field :keywords, class: "form-control" %>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :from %><br/>
                <%= f.text_field :from, class: "form-control date-picker" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :to %><br/>
                <%= f.text_field :to, class: "form-control date-picker" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="checkbox">
                <%= f.label :pending do %>
                  <%= f.check_box :pending %>Pending
                <% end %>
              </div>
              <div class="checkbox">
                <%= f.label :incomplete do %>
                  <%= f.check_box :incomplete %>Incomplete
                <% end %>
              </div>
              <div class="checkbox">
                <%= f.label :complete do %>
                  <%= f.check_box :complete %>Complete
                <% end %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="checkbox">
                <%= f.label :renewal do %>
                  <%= f.check_box :renewal %>Renewal
                <% end %>
              </div>
              <div class="checkbox">
                <%= f.label :fresh do %>
                  <%= f.check_box :fresh %>Fresh
                <% end %>
              </div>
            </div>
          </div>

          <%= f.hidden_field :time_zone_offset %>

          <div class="actions">
            <%= f.submit "Search", class: "btn btn-default pull-right" %>
          </div>
        <% end %>
      </div>
    </div>

  <strong><%= "#{pluralize(@subscriptions.count, "subscription")} found" %></strong>
  <div class="row"><br/></div>

  <%= render partial: 'shared/subscriptions' if @subscriptions.count > 0 %> 

  </div>
</div>
