<%= form_for(@join_form, :html => { class: "form"}) do |f| %>
  <% if @join_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@join_form.errors.count, "error") %> prohibited this join_form from being saved:</h2>

      <ul>
      <% @join_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <% if owner? %>
      <%= f.label :union_id %> <%=link_to "new union", new_polymorphic_path(Union), class: "small", :target => "_blank"%><br>
      <%= f.select :union_id, 
        selected_option(@join_form.union),  
        {
            include_blank: false,
        },
        data: { 
          placeholder: "Please select a union.",
          url: unions_path
        }, 
        class: "ac-select2 form-control", 
        style: "width: 100%;"
      %>
    <% else %>
      <%= f.label :union_id %> 
      <br/><%= (@join_form.union || current_person.union).name %>
      <br/><small>you can only create and edit join_forms for your union</small>
      <%= f.hidden_field :union_id, value: ((@join_form.union || current_person.union).id) %>
    <% end %>

  </div>

  <div class="form-group">
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name, class: "form-control", placeholder: t('helpers.label.join_form.short_name_placeholder') %>
  </div>  

  <h2>Fee Configuration</h2>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control", placeholder: t('helpers.label.join_form.description_placeholder') %>
  </div>
  <div class="form-group">
    <%= f.label :base_rate_id %><br>
    <%= f.text_field :base_rate_id, class: "form-control", placeholder: t('helpers.label.join_form.base_rate_id_placeholder') %>
  </div> 
  <div class="form-group">
    <%= f.label :base_rate_establishment %><br>
    <small><%=t('helpers.label.join_form.base_rate_establishment_description')%></small><br/>
    <%= f.text_field :base_rate_establishment, class: "form-control" %>
  </div>  

  <div class="form-group">
    <%= f.label :base_rate_weekly %><br>
    <%= f.text_field :base_rate_weekly, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :base_rate_fortnightly %><br>
    <%= f.text_field :base_rate_fortnightly, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :base_rate_monthly %><br>
    <%= f.text_field :base_rate_monthly, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :base_rate_quarterly %><br>
    <%= f.text_field :base_rate_quarterly, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :base_rate_half_yearly %><br>
    <%= f.text_field :base_rate_half_yearly, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :base_rate_yearly %><br>
    <%= f.text_field :base_rate_yearly, class: "form-control" %>
  </div>

  <h2> Appearance </h2>

  <div class="form-group">
    <%= f.label :page_title %><br>
    <%= f.text_area :page_title, class: "form-control", placeholder: t('helpers.label.join_form.page_title_placeholder') %>
  </div>

  <div class="form-group">
    <%= f.label :header %><br>
    <%= f.text_area :header, class: "form-control", placeholder: t('helpers.label.join_form.header_placeholder'), rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.label :css %><br>
    <%= f.text_area :css, class: "form-control", placeholder: t('helpers.label.join_form.css_placeholder'), rows: 20 %>
  </div>

  <%= f.hidden_field :person_id, value: current_person.id %>
  
  <div class="actions">
    <%= f.submit value: "Save Join Form", class: "btn btn-default"%>
  </div>
<% end %>
