<%= form_for(@join_form, :html => { class: "form"}) do |f| %>
  <% if @join_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@join_form.errors.count, "error") %> prohibited this join_form from being saved:</h2>

      <ul>
      <% @join_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <% if owner? %>
      <%= f.label :union_id %> <%=link_to "new union", new_polymorphic_path(Union), class: "small", :target => "_blank"%><br>
      <%= f.select :union_id, 
        selected_option(@join_form.union),  
        {
            include_blank: false,
        },
        data: { 
          placeholder: "Please select a union.",
          url: unions_path
        }, 
        class: "ac-select2 form-control", 
        style: "width: 100%;"
      %>
    <% else %>
      <%= f.label :union_id %> 
      <br/><%= (@join_form.union || current_person.union).name %>
      <br/><small>you can only create and edit join_forms for your union</small>
      <%= f.hidden_field :union_id, value: ((@join_form.union || current_person.union).id) %>
    <% end %>

  </div>

  <div class="form-group">
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name, class: "form-control", placeholder: t('helpers.label.join_form.short_name_placeholder') %>
  </div>  

  <h2>Fee Configuration</h2>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control", placeholder: t('helpers.label.join_form.description_placeholder') %>
  </div>
  <div class="form-group">
    <%= f.label :base_rate_id %><br>
    <%= f.text_field :base_rate_id, class: "form-control", placeholder: t('helpers.label.join_form.base_rate_id_placeholder') %>
  </div> 
  <div class="form-group">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id, class: "form-control", placeholder: t('helpers.label.join_form.group_id_placeholder') %>
  </div>
  <div class="form-group">
    <%= f.label :tags %><br>
    <%= f.text_field :tags, class: "form-control", placeholder: t('helpers.label.join_form.tags_placeholder') %>
  </div>
  <div class="form-group">
    <%= f.label :base_rate_establishment %><br>
    <small><%=t('helpers.label.join_form.base_rate_establishment_description')%></small><br/>
    <%= f.text_field :base_rate_establishment, class: "form-control" %>
  </div>  

  <div class="form-group">
    <%= f.label :base_rate_weekly %><br>
    <%= f.text_field :base_rate_weekly, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :base_rate_fortnightly %><br>
    <%= f.text_field :base_rate_fortnightly, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :base_rate_monthly %><br>
    <%= f.text_field :base_rate_monthly, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :base_rate_quarterly %><br>
    <%= f.text_field :base_rate_quarterly, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :base_rate_half_yearly %><br>
    <%= f.text_field :base_rate_half_yearly, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :base_rate_yearly %><br>
    <%= f.text_field :base_rate_yearly, class: "form-control" %>
  </div>

  <h2>Payment Types</h2>

  <div class="form-group">
    <%= f.label :credit_card_on %><br>
    <%= f.check_box :credit_card_on, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'}  %>
  </div>
  <div class="form-group">
    <%= f.label :direct_debit_on %><br>
    <%= f.check_box :direct_debit_on, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'}  %>
  </div>
  <div class="form-group">
    <%= f.label :payroll_deduction_on %><br>
    <%= f.check_box :payroll_deduction_on, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'}  %>
  </div>
  <div class="form-group">
    <%= f.label :direct_debit_release_on %><br>
    <%= f.check_box :direct_debit_release_on, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'}  %>
  </div>

  <h2> Notifications </h2>

  <div class="form-group">
    <%= f.label :person_id %> <%=link_to "invite person", new_person_invitation_path, class: "small", :target => "_blank"%><br>
    <%= f.select :person_id,
      selected_option(@join_form.person),
      {
          include_blank: false,
      },
      data: { 
        placeholder: "Please nominate a responsible admin person for new joins.",
        url: people_path
      }, 
      class: "ac-select2 form-control", 
      style: "width: 100%;"
    %>
  </div>

  <div class="form-group">
    <%= f.label :admin_email_template_id %><br>
    <%= f.select :admin_email_template_id,
      selected_option(@join_form.admin_email_template),
      {
          include_blank: false,
      },
      data: { 
        placeholder: "Please select an email template to be emailed to admin after they join.",
        url: email_templates_path
      }, 
      class: "ac-select2 form-control", 
      style: "width: 100%;"
    %>
  </div>

  <!--<%= f.hidden_field :person_id, value: current_person.id %>-->
  <div class="form-group">
    <%= f.label :welcome_email_template_id %><br>
    <%= f.select :welcome_email_template_id,
      selected_option(@join_form.welcome_email_template),
      {
          include_blank: false,
      },
      data: { 
        placeholder: "Please select an email template to be emailed to the member after they join.",
        url: email_templates_path
      }, 
      class: "ac-select2 form-control", 
      style: "width: 100%;"
    %>
  </div>


  <h2> Customization </h2>

  <div class="form-group">
    <%= f.label :page_title %><br>
    <%= f.text_area :page_title, class: "form-control", placeholder: t('helpers.label.join_form.page_title_placeholder') %>
  </div>

  <div class="form-group">
    <%= f.label :column_list %><br>
    <%= f.text_field :column_list, class: "form-control", placeholder: t('helpers.label.join_form.columns_placeholder') %>
  </div>  

  <div class="form-group">
    <%= f.label :signature_required %><br>
    <%= f.check_box :signature_required, class: "switch", :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'}  %>
  </div> 

  <h2> Design </h2>


  <div class="form-group">
    <%= f.label :advanced_designer %><br>
    <%= f.check_box :advanced_designer, :data => { :size => 'small', 'on-text'=>'Yes', 'off-text'=>'No', 'on-color'=>'success'}  %>
  </div>  

  <div id="advanced_designer_fields" style="display:none;">
    <div class="form-group">
      <%= f.label :header %><br>
      <%= f.text_area :header, class: "form-control", placeholder: t('helpers.label.join_form.header_placeholder'), rows: 10 %>
    </div>

    <div class="form-group">
      <%= f.label :footer %><br>
      <%= f.text_area :footer, class: "form-control", placeholder: t('helpers.label.join_form.footer_placeholder'), rows: 10 %>
    </div>

    <div class="form-group">
      <%= f.label :css %><br>
      <%= f.text_area :css, class: "form-control", placeholder: t('helpers.label.join_form.css_placeholder'), rows: 20 %>
    </div>
  </div>

  <div id="wysiwyg_designer_fields" style="display:none;">
    <div class="form-group">
      <%= f.label :wysiwyg_header %><br>
      <%= f.bootsy_area :wysiwyg_header, class: "form-control", placeholder: t('helpers.label.join_form.wysiwyg_header_placeholder'), rows: 10 %>
    </div>
    <hr/>
    <div class="form-group">
      <%= f.label :wysiwyg_footer %><br>
      <%= f.bootsy_area :wysiwyg_footer, class: "form-control", placeholder: t('helpers.label.join_form.wysiwyg_footer_placeholder'), rows: 10 %>
    </div>
  </div>

  
  <div class="actions">
    <%= f.submit value: "Save Join Form", class: "btn btn-default"%>
  </div>
<% end %>

<script type="text/javascript">
  function set_designer() {
    if ($('#join_form_advanced_designer').bootstrapSwitch('state'))
    {
      $('#advanced_designer_fields').slideDown();
      $('#wysiwyg_designer_fields').slideUp();
    }
    else
    {
      $('#advanced_designer_fields').slideUp();
      $('#wysiwyg_designer_fields').slideDown();
    }
  }

  $('#join_form_advanced_designer').bootstrapSwitch({
    onSwitchChange: set_designer
  });
  set_designer();
</script>
