
<% unless @join_forms.blank? %>
  <table class="table table-condensed table-striped box-shadow">
    <thead>
      <tr>
        <th>Union</th>
        <th>Slugs</th>
        <th>Description</th>
        <th>Establishment Fee</th>
        <th>Weekly Rate</th>
      </tr>
    </thead>

    <tbody>
      <% @join_forms.each do |join_form| %>
        <tr class="">
          <td><%= join_form.union.short_name if join_form.union%></td>
          <td>
            <%= link_to join_form.short_name, edit_union_join_form_path(join_form.union, join_form.id, locale: locale) %>
          </td>
          <td>
            <%= join_form.description %>
          </td>
          <td>
            <%= join_form.base_rate_establishment %>
          </td>
          <td>
            <%= join_form.base_rate_weekly %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1 class="text-center">
    You have no join forms defined
  </h1>
<% end %>
