
<% unless @join_forms.blank? %>
  <table class="table table-condensed table-striped box-shadow">
    <thead>
      <tr>
        <th>Union</th>
        <th>Slugs</th>
        <th>Description</th>
        <th>Establishment Fee</th>
        <th>Weekly Rate</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @join_forms.order(:short_name).each do |join_form| %>
        <tr class="">
          <td><%= join_form.union.short_name if join_form.union%></td>
          <td>
            <%= join_form.short_name %>
          </td>
          <td>
            <%= join_form.description %>
          </td>
          <td>
            <%= join_form.base_rate_establishment %>
          </td>
          <td>
            <%= join_form.base_rate_weekly %>
          </td>
          <td>
            <%= link_to "<span class=\"glyphicon glyphicon-eye-open\"></span>".html_safe, union_join_form_path(join_form.union, join_form, locale:locale) %>
            <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span>".html_safe, edit_union_join_form_path(join_form.union, join_form, locale:locale) %>
            <%= link_to "<span class=\"glyphicon glyphicon-bell\" style=\"opacity: #{current_person.follows?(join_form) ? "1" : "0.3" };\"></span>".html_safe, union_join_form_follow_path(join_form.union, join_form, locale: locale), method: :patch %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1 class="text-center">
    You have no join forms defined
  </h1>
<% end %>
