<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <h1>Batches</h1>

    <!--
    <%= link_to 'New Record batch', new_union_join_form_record_batch_path(union_id: @union, join_form_id: @union.join_forms.first) %>
    -->

    <div class="xtable-responsive">
          
      <table class="table table-condensed table-striped"> 
        <thead>
          <tr>
            <th>Name</th>
            <th class="visible-md visible-lg">Email template</th>
            <th class="visible-md visible-lg"> Sms template</th>
            <th>Recipients</th>
            <th>Completed</th>
            <th class="visible-lg">Created At</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @record_batches.each do |record_batch| %>
            <tr>
              <td><%= record_batch.name %></td>
              <td class="visible-md visible-lg"><%= record_batch.email_template.name %></td>
              <td class="visible-md visible-lg"><%= record_batch.sms_template.name %></td>
              <td><%= record_batch.recipient_count %></td>
              <td><%= record_batch.completed_count %></td>
              <td class="visible-lg"><%= record_batch.created_at %></td>
              <td><%= link_to "<span class=\"glyphicon glyphicon-eye-open\"></span>".html_safe, union_join_form_record_batch_path(id: record_batch, join_form_id: record_batch.join_form, union_id: @union) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>