
<% set_title(subscription.join_form.page_title) %>
<div id="step" data-step="<%=@subscription.step%>"/>
<style>
  <%=subscription.join_form.css.html_safe %>
</style>

<%= render partial: "shared/lang_picker", locals: { display_class: "pull-right" } %>

<div class="subscription_header">
  <%=subscription.join_form.header.html_safe if subscription.join_form.header %>
</div>

<%= form_for(subscription, url: subscription_form_path(subscription)) do |f| %>
  
  <%= f.fields_for :person do |p| %>
    <%= render 'subscriptions/person/edit', f: p, person: @subscription.person  %> 
  <% end %>

  <% if @subscription.contact_details_saved? || @subscription.address_present? %>
    <%= f.fields_for :person do |p| %>
      <%= render 'subscriptions/address/edit', f: p, person: @subscription.person  %>
    <% end %>
  <% end %>

  <% if @subscription.address_saved? %>
    <%= render 'subscriptions/subscription/edit', f: f %>
  <% end %>

  <% if @subscription.subscription_saved? %>
    <%= render 'subscriptions/pay_method/edit', f: f %>
  <% end %>

  <%= f.hidden_field :join_form_id %>
  <%= f.hidden_field :callback_url %>

  <div class="actions ">
    <% 
      if @subscription.subscription_saved? 
        if nuw_end_point_has_good_pay_method(@subscription)
          submit_label = t(".submit_renew") # TODO this logic is dumb
        else
          submit_label = t(".submit_join")
        end
      else
        submit_label = t(".submit_next")
      end
    %>

    <%= f.submit submit_label, class: "btn btn-success", id: "subscription_submit", data: { label: t(".submit_processing")} %>
  </div>
<% end %>