<%= form_for(subscription) do |f| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :person do |p| %>
    <%= render 'subscriptions/person/edit', f: p, person: @subscription.person  %> 

    <%= render 'subscriptions/address/edit', f: p, person: @subscription.person  %>
  <% end %>

  <%= render 'subscriptions/subscription/edit', f: f %>
  
  <%= render 'subscriptions/pay_method/edit', f: f %>


  <div class="field">
    <%= f.hidden_field :join_form_id %>
  </div>

  <div class="actions ">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
