<%= form_for(subscription, url: subscription_form_path(subscription)) do |f| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :person do |p| %>
    <%= render 'subscriptions/person/edit', f: p, person: @subscription.person  %> 
  <% end %>

  <% if @subscription.contact_details_saved? %>
    <%= f.fields_for :person do |p| %>
      <%= render 'subscriptions/address/edit', f: p, person: @subscription.person  %>
    <% end %>
  <% end %>

  <% if @subscription.address_saved? %>
    <%= render 'subscriptions/subscription/edit', f: f %>
  <% end %>

  <% if @subscription.subscription_saved? %>
    <%= render 'subscriptions/pay_method/edit', f: f %>
  <% end %>

  <div class="field">
    <%= f.hidden_field :join_form_id %>
  </div>

  <div class="actions ">
    <% if @subscription.subscription_saved? %>
      <%= f.submit "Join Now", class: "btn btn-success" %>
    <% else %>
      <%= f.submit "Next", class: "btn btn-default" %>
    <% end %>
  </div>
<% end %>
