<% set_title(subscription.join_form.page_title) %>

<style>
  <%=subscription.join_form.css.html_safe %>
</style>

<%=subscription.join_form.header.html_safe %>

<%= form_for(subscription, url: subscription_form_path(subscription)) do |f| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('.error_summary', count: subscription.errors.count )%></h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :person do |p| %>
    <%= render 'subscriptions/person/edit', f: p, person: @subscription.person  %> 
  <% end %>

  <% if @subscription.contact_details_saved? || @subscription.address_present? %>
    <%= f.fields_for :person do |p| %>
      <%= render 'subscriptions/address/edit', f: p, person: @subscription.person  %>
    <% end %>
  <% end %>

  <% if @subscription.address_saved? %>
    <%= render 'subscriptions/subscription/edit', f: f %>
  <% end %>

  <% if @subscription.subscription_saved? %>
    <%= render 'subscriptions/pay_method/edit', f: f %>
  <% end %>

  <%= f.hidden_field :join_form_id %>
  <%= f.hidden_field :callback_url %>

  <div class="actions ">
    <% if @subscription.subscription_saved? %>
      <%= f.submit t(".submit_join"), class: "btn btn-success" %>
    <% else %>
      <%= f.submit t(".submit_next"), class: "btn btn-default" %>
    <% end %>
  </div>
<% end %>
