<style>
  <%=@subscription.join_form.css.html_safe %>
</style>

<% if notice.present? %>
  <p id="notice" class="alert alert-info text-center"><%= notice %></p>
<% end %>
<div class="col-sm-8 col-sm-offset-2">

  <h1 id="membership-card-heading" class="text-center">
    <%= t('subscriptions.membership_card.heading') %>
  </h1>
  <br/>
  <br/>
  <div class="membership-card">
    <div id="membership-card-top-panel">
      <div id="membership-card-union-name">
        <%=@union.name %>
      </div>
      <div id="membership-card-union-logo">
        <%=image_tag @union.logo.thumb.url  if @union.logo.thumb.url %>
      </div>
    </div>
    <div id="membership-card-bottom-panel">
      <div id="membership-card-person-name">
        <%=@subscription.person.display_name%>
      </div>
      <div id="membership-card-person-id">
        <%=@subscription.person.external_id%>
      </div> 
      <br/>
      <div id="membership-card-status">
        <%= @subscription.status.blank? ? "Pending" : @subscription.status %>
      </div>
      <%= link_to t('subscriptions.membership_card.edit'), subscription_form_path(@subscription), class: 'btn btn-default', style: "position: absolute; bottom: 5px; right: 5px" %>
    </div>
    
  </div>
  <br/>
  <p class="text-center">
    <%= t('subscriptions.membership_card.bookmark') %>
  </p>

</div>