  <h2 id="contact_details"><%=t(".heading")%></h2>

  <%= render 'errors' if @subscription.step == :contact_details %>

  <%= f.hidden_field :id, class: "form-control" %>
  
  <% if current_person || params[:pdf] == 'true' # prevent external users fiddling, needed for reviewing before saving %>  
    <div class="form-group">
      <%= f.hidden_field :external_id %>
      <%= f.label :external_id %><br>
      <div class="form-control">
        <%= person.external_id %>
      </div>
      <br>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :gender %><br>
    <%= f.select :gender,
      gender_options(person), 
      {
          include_blank: true,
      },
      data: { 
        placeholder: t("activerecord.attributes.person.gender"),
      }, 
      class: "form-control", 
      style: "width: 100%;"
    %>
  </div>
  <div class="form-group form-inline">
    <%= f.label :dob %><br/>
    <%= f.date_select :dob, { order: [:day, :month, :year], start_year: Date.today.year - 14, end_year: Date.today.year - 100 }, class: "form-control do-not-stack" %>
  </div>
  