<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @email_template.subject %>
</p>

<p>
  <strong>Body html:</strong>
  <%= @email_template.body_html %>
</p>

<p>
  <strong>Css:</strong>
  <%= @email_template.css %>
</p>

<p>
  <strong>Body plain:</strong>
  <%= @email_template.body_plain %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @email_template.attachment %>
</p>

<%= link_to 'Edit', edit_email_template_path(@email_template) %> |
<%= link_to 'Back', email_templates_path %>
